html {
  margin: 0;
}

body {
  background: #212121;
  color: #fff;
}

span {
  display: block;
}

.canvas {
  text-align: center;
  width: 80%;
  margin: 100px auto 100px;
}

.button {
  width: 100px;
  height: 100px;
  border: solid white 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}
