@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Young+Serif&display=swap");

body {
  background-color: black;
  color: aliceblue;
}

.keyboard {
  font-family: "Rubik", sans-serif;
  font-family: "Young Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 25px;
}

table,
th,
td {
  border: 1px solid #e7e7e7;

  text-align: center;
}
